body {
    background-color: #ffffff;
  }
  
  h1 {
    color: #043d3d;
    text-align: center;
  }
  
  h2 {
    color: #175b5b;
    text-align: center;
  }
  h3{
    color:  #275368;
    text-align: center;
  }

  
  div {
    text-align: center;
  }
  .projects{
    border:#173737;
    border-style:double;
    background:#bee0e0
  }
  
  .section {
    color: #2d5757;
  }
  
  #programmingLanguages {
    padding-left: 20%;
    float: left;
  }
  
  #achievements {
    float: right;
    padding-right: 20%;
  }
  
  #games {
    float: right;
    padding-right: 20%;
  }